@model LoginandR.Models.Supplier

@{
    ViewBag.Title = "Supplier Details";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<center>
    <h2>Details Supplier</h2>

    <div>
        <h4>Supplier</h4>
        <hr />
        <img src="@Url.Content(Model.supImg)" alt="Image for @Html.DisplayFor(model => model.supName)" class="rounded-circle img-fluid" style="width: 189px;">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.supName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.supName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.supPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.supPhone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.supAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.supAddress, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.supEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.supEmail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.supDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.supDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "SupplierManagement", null, new { @class = "btn btn-dark" })
    </p>
</center>

