@model LoginandR.Models.Admin

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EditPassword</h2>
@section Scripts{
    <script>
        setTimeout(function () {
            $('.badge').fadeOut('slow');
        }, 3000);
    </script>
}


<center>
    <h2>Edit Admin Password</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.adID)

            <div class="form-group">
                @Html.LabelFor(model => model.adPwd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.PasswordFor(model => model.adPwd, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.adPwd, "", new { @class = "badge badge-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.adFirstname)
            @Html.HiddenFor(model => model.adLastname)
            @Html.HiddenFor(model => model.adUsername)
            @Html.HiddenFor(model => model.adPhone)
            @Html.HiddenFor(model => model.adEmail)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a href="@Url.Action("EditProfile","Admin")" class="btn btn-outline-primary">Back to Edit</a>
                </div>
            </div>
        </div>
    }

    
    </center>