@model LoginandR.Models.User

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('.badge').fadeOut('slow');
        }, 3000);
    </script>
}
<center>
    <h2>EditPassword</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Session["Fullname"]</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.uID)

            <div class="form-group">
                @Html.LabelFor(model => model.uPwd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.PasswordFor(model => model.uPwd, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.uPwd, "", new { @class = "badge badge-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.uFirstname)
            @Html.HiddenFor(model => model.uLastname)
            @Html.HiddenFor(model => model.uUsername)
            @Html.HiddenFor(model => model.uPhone)
            @Html.HiddenFor(model => model.uAddress)
            @Html.HiddenFor(model => model.uBirthday)
            @Html.HiddenFor(model => model.uEmail)
            @Html.HiddenFor(model => model.uGender)
            @Html.HiddenFor(model => model.uCreditCard)
        <br />
        <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a href="@Url.Action("Edit","User")" class="btn btn-outline-primary">Back to Edit</a>
                </div>
            </div>
        </div>
    }
</center>

