@model IEnumerable<LoginandR.Models.Bill>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<style>
    #dataTable_wrapper {
        padding-top: 100px;
        padding-bottom: 560px;
    }
</style>

<center>
    <h1 style=" padding-top: 200px; font-weight: 600; font-size: 40px;">MY ORDERS</h1>
</center>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.bID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "OrderDetail", new { id = item.bID }, new { @class = "btn btn-primary btn-lg" })
                </td>
            </tr>

        }
    </tbody>

    

</table>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>    

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}
