@model IEnumerable<LoginandR.Models.BillDetail>
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<style>

    body {
        color: #000;
        overflow-x: hidden;
        height: 100%;
        background-color: #fff;
        background-repeat: no-repeat
    }

    .plus-minus {
        position: relative
    }

    .plus {
        position: absolute;
        top: -4px;
        left: 2px;
        cursor: pointer
    }

    .minus {
        position: absolute;
        top: 8px;
        left: 5px;
        cursor: pointer
    }

    .vsm-text:hover {
        color: #FF5252
    }

    .book,
    .book-img {
        width: 150px;
        height: 150px;
        border-radius: 5px
    }

    .book {
        margin: 20px 15px 5px 15px
    }

    .border-top {
        border-top: 1px solid #EEEEEE !important;
        margin-top: 20px;
        padding-top: 15px
    }

    .card {
        margin: 40px 0px;
        padding: 40px 50px;
        border-radius: 20px;
        border: none;
        box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
    }

    input,
    textarea {
        background-color: #F3E5F5;
        padding: 8px 15px 8px 15px;
        width: 100%;
        border-radius: 5px !important;
        box-sizing: border-box;
        border: 1px solid #F3E5F5;
        font-size: 15px !important;
        color: #000 !important;
        font-weight: 300
    }

        input:focus,
        textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #9FA8DA;
            outline-width: 0;
            font-weight: 400
        }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }

    .pay {
        width: 80px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #673AB7;
        margin: 10px 20px 10px 0px;
        cursor: pointer;
        box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
    }

    .gray {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        color: #E0E0E0
    }

        .gray .pay {
            box-shadow: none
        }

    #tax {
        border-top: 1px lightgray solid;
        margin-top: 10px;
        padding-top: 10px
    }

    .btn-blue {
        border: none;
        border-radius: 10px;
        background-color: #673AB7;
        color: #fff;
        padding: 8px 15px;
        margin: 20px 0px;
        cursor: pointer;
        height: 25%;
    }

    .btn-orange {
        border: none;
        border-radius: 10px;
        background-color: #FF5252;
        color: #fff;
        padding: 8px 15px;
        margin: 20px 0px;
        cursor: pointer;
        height: 25%;
    }

        .btn-orange:hover {
            background-color: #cc0c0c;
            color: #fff;
            text-decoration: none;
        }

    .btn-black {
        border: none;
        border-radius: 10px;
        background-color: #000;
        color: #fff;
        padding: 8px 15px;
        margin: 20px 0px;
        cursor: pointer;
        height: 25%;
    }

        .btn-black:hover {
            background-color: #5a5959;
            color: #fff;
            text-decoration: none;
        }

    #checkout {
        float: left
    }

    #check-amt {
        float: right
    }

    @@media screen and (max-width: 768px) {

        .book,
        .book-img {
            width: 100px;
            height: 150px
        }

        .card {
            padding-left: 15px;
            padding-right: 15px
        }

        .mob-text {
            font-size: 13px
        }

        .pad-left {
            padding-left: 20px
        }
    }
</style>

@{

    DateTime? tempD = Model.Where(m => m.Bill.uID == Convert.ToInt32(Session["ID"])).Select(y => y.Bill.bDate).FirstOrDefault();

    string sqlFormattedDate1 = tempD.HasValue ? tempD.Value.ToString("dd-MM-yyyy HH:mm:ss") : "<not available>";
    double subTo = 0;
    <h2 style="text-align: center;padding: 50px;">Order Detail</h2>
    <div class="container px-4 py-5 mx-auto" style="background-color: #d48989; border: 2px solid orange; border-radius: 3px;">
        <div class="row d-flex justify-content-center">
            <div class="col-5">
                <h4 class="heading">Items ordered in @sqlFormattedDate1</h4>
            </div>
            <div class="col-7">
                <div class="row text-right">
                    <div class="col-3">
                        <h6 class="mt-2">Delivery Status</h6>
                    </div>
                    <div class="col-3">
                        <h6 class="mt-2">Ship Time</h6>
                    </div>
                    <div class="col-3">
                        <h6 class="mt-2">Quantity</h6>
                    </div>
                    <div class="col-3">
                        <h6 class="mt-2">Unit Price</h6>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row d-flex justify-content-center border-top">
                <div class="col-5">
                    <div class="row d-flex">
                        <div class="book"> <img src="~/Assets/img/@item.Products.proImg" class="book-img"> </div>
                        <div class="my-auto flex-column d-flex pad-left">
                            <h6 class="mob-text">@item.proName</h6>
                        </div>
                    </div>
                </div>
                <div class="my-auto col-7">
                    <div class="row text-right">
                        <div class="col-3">
                            <div class="row d-flex justify-content-end px-3 mr-4">
                                <p class="mb-0" id="cnt1"><i class="fa fa-check-circle" aria-hidden="true" style="@(!item.Bill.deliStatus?"display: none;":"")"></i></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row d-flex justify-content-end px-3">
                                @{ string sqlFormattedDate2 = item.Bill.shipDate.HasValue ? item.Bill.shipDate.Value.ToString("dd-MM-yyyy HH:mm:ss") : "<not available>";}
                                <p class="mb-0" id="cnt1">
                                    @sqlFormattedDate2
                                </p>

                            </div>
                        </div>
                        <div class="col-3 text-center">
                            <div class="row d-flex justify-content-end px-3 mr-3">
                                <p class="mb-0" id="cnt1">@item.quantity</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <h6 class="mob-text">@item.price.ToString("#,##") VND</h6>
                            @{
                                subTo += item.price;
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-12 mt-2">
                            <div class="row d-flex justify-content-between px-4">
                                <p class="mb-1 text-left">Subtotal</p>
                                <h6 class="mb-1 text-right">@subTo.ToString("#,##") VND</h6>
                            </div>
                            <div class="row d-flex justify-content-between px-4">
                                <p class="mb-1 text-left">Shipping</p>
                                @{var ship = 10000;
                                    var temp = ship.ToString("#,##");
                                    var tempTotal = subTo + ship;}
                                <h6 class="mb-1 text-right">@temp VND</h6>
                            </div>


                            <div class="row d-flex justify-content-between px-4" id="tax">
                                <button class="btn-block btn-blue btn-lg"> <span> <span id="checkout">Total</span> <span id="check-amt">@tempTotal.ToString("#,##") VND</span> </span> </button>
                            </div>


                        </div>
                        <a href="@Url.Action("Orders","User")" class="btn-black btn-sm mr-3">Back to My Orders</a>
                        <a href="@Url.Action("Product","Home")" class="btn-orange btn-sm mr-3">Back to Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}