@model IEnumerable<LoginandR.Models.BillDetail>
@{
    ViewBag.Title = "BillManagement";
    Layout = "~/Views/Shared/_SupplierLayout.cshtml";
}

<table class="table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bill.bID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.bDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.User.uAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.User.uPhone)
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill.bID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill.bDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill.User.uAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill.User.uPhone)
                </td>
                <td>
                    @Html.ActionLink("Details", "BillDetail", new { id = item.bID }, new { @class = "btn btn-info" })
                </td>
            </tr>

        }
    </tbody>

</table>
@Html.ActionLink("Back to List", "UserBill", null, new { @class = "btn btn-dark" })
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

