@model LoginandR.Models.Supplier

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_SupplierLayout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('.badge').fadeOut('slow');
        }, 3000);
    </script>
}


<center>
    <h2>Edit Supplier Password</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.supID)

            <div class="form-group">
                @Html.LabelFor(model => model.supPwd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.PasswordFor(model => model.supPwd, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.supPwd, "", new { @class = "badge badge-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.supName)
            @Html.HiddenFor(model => model.supUsername)
            @Html.HiddenFor(model => model.supPhone)
            @Html.HiddenFor(model => model.supAddress)
            @Html.HiddenFor(model => model.supEmail)
            @Html.HiddenFor(model => model.supDescription)
            @Html.HiddenFor(model => model.supImg)
        <br />
        <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a href="@Url.Action("Edit","Supplier")" class="btn btn-outline-primary">Back to Edit</a>
                </div>
            </div>
        </div>
    }
</center>

