@model LoginandR.Models.Supplier
@{
    Layout = null;
}
<script>
    setTimeout(function () {
        $('.badge').fadeOut('slow');
    }, 3000);
</script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- owl css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">

</head>
<body>
    <div>
        <section class="vh-100 ">
            <div class="container-fluid h-custom ">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
                             alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <h2>Supplier Login</h2>
                        <hr />
                        @using (Html.BeginForm("Login", "Supplier", FormMethod.Post))

                        {
                            if (TempData["success"] != null)
                            {
                                <span class="badge badge-success" id="errorView">@TempData["success"]</span>
                            }
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                @Html.TextBoxFor(m => m.supUsername, "", new { @class = "form-control", @placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.supUsername, "", new { @class = "badge badge-danger" })
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                @Html.PasswordFor(m => m.supPwd, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.supPwd, "", new { @class = "badge badge-danger" })
                            </div>
                            if (ViewBag.error != null)
                            {
                                <span class="badge badge-danger" id="errorView">@ViewBag.error</span>
                            }

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                    Login
                                </button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">
                                    Don't have an account? <a href="@Url.Action("Register", "Supplier")"
                                                              class="link-danger">Register</a>
                                </p>
                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
                <!-- Copyright -->
                <div class="text-white mb-3 mb-md-0">
                    Copyright © 2020. All rights reserved.
                </div>
                <!-- Copyright -->
                <!-- Right -->
                <!-- Right -->
            </div>
        </section>
    </div>
    <footer>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </footer>
</body>
</html>
