@model IEnumerable<LoginandR.Models.Product>
@{
    ViewBag.Title = "Product Management";
    Layout = "~/Views/Shared/_SupplierLayout.cshtml";
}

@Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-outline-dark" })
<hr />
<table class="table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.proImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            if (item.proStatus)
            {
                <tr>
                    <th>
                        <img src="~/Assets/img/@Html.DisplayFor(modelItem => item.proImg)" alt="Alternate Text" width="100" height="70" />
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.proName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.proPrice)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.proDescription)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.discount)
                    </th>
                    <td>
                        @Html.ActionLink("Edit", "UpdateProduct", new { id = item.proID }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.proID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>

</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}